*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 4rem;
    font-weight: bold;
}

.clock-container{
    margin: 15% auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

#hours, #minutes, #seconds{
    width: 10rem;
    height: 10rem;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}